body {
  background-color: rgb(86, 12, 143);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.gamesHolder{
  display: flex;
  gap:20px;
  flex-wrap: wrap;
}
.gameContainer{
  width: 49%;
  background-color: rgb(102, 29, 151);
  border-radius: 20px;
  text-align: left;
}
.gameContainer h2{
  line-height: 0;
  padding-left: 20px;
}
.gameContents {
  display: flex;
  gap:15px;
  padding: 20px;
  text-align: left;
  background-color: rgb(131, 42, 190);
  border-radius: 20px;
}
.gameContents p{
  max-width: 375px;
}
.imageContainer{
  display: flex;
  height: 150px;
  width: 150px;
  align-items: center;
  justify-content: center;
}
.imageContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gameTitle{
  display: block;
}

footer{
  position : relative;
  bottom : 0;
  margin:10px;
  text-align: left;
  justify-content: left;
}
footer a{
  text-decoration: none;
  color: black;
}